header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 20px 20%;
  align-items: center;
  background: #1b1b1b;
  color: #f5f5f5;
}

.logo {
  font-style: italic;
  font-size: 30px;
}
.links {
  width: 300px;
}
.nav_Links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav_Links li a {
  font-size: 12px;
  letter-spacing: 1px;
}
